body {
  background-image: url('../imagenes/proverbiosfondo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

#changeHeader:hover {
  text-shadow: 1px 1px 1px #ffffff;
}

.text-area {
  margin-top: 20px;
  text-align: center;
}

.verse-title {
  font-size: 60px;
  color: white;
  text-shadow: 3px 2px 1px #16376a;
  margin-bottom: 20px;
}

.verse-text {
  width: 465px;
  padding: 22px;
  font-size: 30px;
  color: white;
  text-shadow: 3px 2px 1px #16376a;
}

h1 {
  display: inline-block;
  font-size: 200px;
  margin-bottom: -80px;
  text-shadow: 1px 1px 1px #ffffff;
  transition: color 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}

.social-link:hover h1 {
  color: #16376a;
}
