@font-face {
  font-family: "Roboto Mono";
  src: url(path/to/RobotoMono-Regular.ttf);
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -173px;
  height: 100%;
}

h1 {
  display: inline-block;
  font-size: 100px;
  margin-bottom: -43px;
  text-shadow: 1px 1px 1px #ffffff;
  transition: color 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}

p {
  font-size: 24px;
  margin-bottom: 0px;
  text-shadow: 1px 1px 1px #ffffff;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.social-links a {
  display: inline-block;
  margin: 0 50px;
  font-size: 32px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  text-shadow: 1px 1px 1px #ffffff;
  border: none;
  background-color: transparent;
  color: inherit;
}

.social-links a:hover {
  color: #16376a;
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.menu a {
  display: inline-block;
  margin: 0 48px;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  text-shadow: 1px 1px 1px #ffffff;
  border: none;
  background-color: transparent;
  color: inherit;
}

.menu a:hover {
  background-color: #ffffff00;
  color: #16376a;
}

.footer {
  margin-top: 299px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.small-image {
  width: 100px;
}

.medium-image {
  width: 200px;
  max-width: 100%;
  height: auto;
}

.social-link {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: inherit;
}

.social-link:hover h1 {
  color: #16376a;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("../imagenes/fondodefinitivo.jpg");
    background-size: % 100%;
  }

  h1 {
    font-size: 100px;
  }

  p {
    font-size: 24px;
  }

  .social-links,
  .menu {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-image: url("../imagenes/fondodefinitivocelulares.jpg");
    background-size: cover;
    background-position: center;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 24px;
  }

  .social-links a,
  .menu a {
    font-size: 36px;
    margin: 10px;
    padding: 10px 20px;
  }

  .image-container {
    display: none;
  }
}